<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Setting the character encoding and viewport for the page -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Linking to the Bootstrap CSS file -->
    <link rel="stylesheet" th:href="@{/css/main.css}" />

    <!-- Setting the title of the page -->
    <title>Registration</title>
</head>
<body>
<!-- Creating a container for the page content -->
<div class="container">
    <!-- Creating a row with a column that is centered and takes up half of the available width -->
    <div class="row mt-5">
        <div class="col-6 mx-auto">
            <!-- Creating a form to submit the registration information -->
            <form
                    method="post"
                    role="form"
                    th:action="@{/registration}"
                    th:object="${user}"
            >
                <!-- Displaying a heading for the registration form -->
                <h1>Registration Form</h1>
                <!-- Using Thymeleaf to conditionally display a success message if there is a success parameter in the URL -->
                <div th:if="${param.success}">
                    <div class="alert alert-info">
                        Registration successful !!!
                    </div>
                </div>
                <!-- Creating a form group for the name input -->
                <div class="mb-3">
                    <label class="form-label" for="name">Name</label>
                    <input class="form-control" id="name" name="name" type="text">
                    <!-- Using Thymeleaf to conditionally display an error message if there are validation errors for the name field -->
                    <p class="text-danger" th:errors="*{name}"
                       th:if="${#fields.hasErrors('name')}"></p>
                </div>
             
                <div class="mb-3">
                    <!-- Creating a form group for the email input -->
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control" id="email" name="email" type="email">
                    <!-- Using Thymeleaf to conditionally display an error message if there are validation errors for the email field -->
                    <p class="text-danger" th:errors="*{email}"
                       th:if="${#fields.hasErrors('email')}"></p>
                </div>
                <div class="mb-3">
                    <!-- Creating a form group for the password input -->
                    <label class="col-sm-2 col-form-label" for="password">Password</label>
                    <input class="form-control" id="password" name="password" type="password">
                    <!-- Using Thymeleaf to conditionally display an error message if there are validation errors for the password field -->
                    <p class="text-danger" th:errors="*{password}"
                       th:if="${#fields.hasErrors('password')}"></p>
                </div>
                 <!-- Creating a form group for the submit button and login link -->
                <div class="mb-3">
                    <button class="btn btn-primary mb-3" type="submit">Register</button>
                    or <a class="link-primary" th:href="@{/login}">Login</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>



         
        
